@import '../../../../styleVariables.scss';
@import '../../../mixins.scss';

.benefits {
  @include flexColumnBox;
  padding-top: 4rem;
  & > h3 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
    text-align: center;
  }
  @media (max-width: $table-portrait) {
    & > h3 {
      font-size: 1.5rem;
      padding: 0 1rem;
    }
  }
}

.accent-Blue-Text {
  font-weight: 500;
  color: $fontColorSecundary;
}
