@import '../../../styleVariables.scss';
@import '../../mixins.scss';

.navbar-wrapper {
  background-image: url('../../../assets/images/Backgrounds/Bg_Header.png');
  background-color: $background;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0;
  padding: 2.5rem 4rem;

  & > img {
    max-width: 15%;
    @media (max-width: $table-portrait) {
      max-width: 30%;
    }
  }
}

.menu {
  width: inherit;
  line-height: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & > li {
    @include Menu-Item;
  }
  @media (max-width: $table-portrait) {
    display: none;
  }
}

.buttons-mobile {
  display: none;
  justify-content: flex-end;
  align-items: center;
  & > img {
    z-index: 30;
    max-width: 9%;
  }
  @media (max-width: $table-portrait) {
    display: flex;
  }
}

.menu-mobile {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 20;
  margin: 0;
  padding: 1rem;
  width: inherit;
  height: auto;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transition: all 2s ease;
  & > li {
    @include Menu-Item;
  }
}

.favorite-box {
  @include flexRowBox(row, nowrap, center, flex-end);
  margin-left: 1rem;
  margin-right: 1rem;
  width: 42px;
  height: 42px;
  background-image: url('../../../assets/images/programming.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  & > p {
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: $backgroundSecundary;
    color: $fontColorWhite;
    margin: 0;
    text-align: center;
    border-radius: 50%;
  }

  @media (max-width: $table-portrait) {
    width: 32px;
    height: 32px;
    & > p {
      width: 15px;
      height: 15px;
      font-size: 12px;
    }
  }
  @media (max-width: $min-phone-landscape) {
    width: 20px;
    height: 20px;
    & > p {
      width: 10px;
      height: 10px;
      font-size: 8px;
    }
  }
  @media (max-width: $min-phone-portrait) {
    width: 15px;
    height: 15px;
  }
}
