/* Global variables */

/* color palette */
$background: #ffffff;
$fontColor: #1b263c;
$fontColorSecundary: #15a9e5;
$fontColorWhite: #ffffff;
$backgroundSecundary: #15a9e5;
$fontColorAccent: #97cf2d;

/* screen size */
$desktop: 1280px;
$tablet-landscape: 1024px;
$phone-landscape: 800px;
$table-portrait: 768px;
$phone-portrait: 600px;
$min-phone-landscape: 480px;
$min-phone-portrait: 320px;
